@import ../../sass/index
  
.button
  /* сброс стилей */
  text-decoration: none
  cursor: pointer
  /* настройки кнопок */
  opacity: 1
  transition: 0.5s
  box-sizing: border-box
  background: transparent
  &:hover
    opacity: 0.5
  &:active
    outline-style: none
  &:focus
    outline-style: none
  &__submit
    width: 118px
    height: 44px
    background: $secondary-color
    border: none
    border-radius: 100px
    color: $primary-color-white
  &__add
    @include position-center
    gap: 8px
    width: 204px
    height: 44px
    border: 2px solid $secondary-color
    box-sizing: border-box
    border-radius: 100px
    font-size: 14px
    color: $secondary-color
    transition: all 0.5s ease
    &_plus
      display: inline-block
      width: 16px
      height: 16px
      background: linear-gradient($secondary-color, $secondary-color), linear-gradient($secondary-color, $secondary-color)
      background-position: center
      background-size: 100% 2px,2px 100%
      background-repeat: no-repeat
      transition: all 0.5s ease
    &.disabled
      pointer-events: none
      cursor: not-allowed
      color: $disabled-color
      border: 2px solid $disabled-color
    &.disabled &_plus
      background: linear-gradient($disabled-color, $disabled-color), linear-gradient($disabled-color, $disabled-color)
      background-position: center
      background-size: 100% 2px,2px 100%
      background-repeat: no-repeat
  &__delete
    border: none
    color: $secondary-color
    font-size: 14px
    padding: 0